.container{
    height: 100px;
    display: grid;
    grid-template-columns: repeat(18,1fr);
}
.uno{
    background-color: greenyellow;
}
.dos{
    background-color: green;
}
.tres{
    background-color: rgb(95, 120, 203);
}
.dosuno{
    background-color: rgb(23, 45, 23);
}
.dosdos{
    background-color: blue;
}
.internodos{
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}